*{
    margin: 0;
    padding: 0;
}


body {
    background-color: Pink;
    color: #fff;
    line-height: 1.5;
}
#Main {
	text-align: center;
    color: Green;
}
.Main p {
	text-align: center;
}
#result
{
    margin-left: 10px;
    margin-right: 10px;
    background: #DFF;
    color: #000;
    border-radius: 5px;
}
#describe
{
    background: #DFF;
    color: #000;
    border-radius: 5px;
}
#input
{
    background: #DFF;
    color: #000;
    border-radius: 5px;
}
#output
{
    background: #DFF;
    color: #000;
    border-radius: 5px;
}
hr
{
    height:3px;
    border:blue;
    border-top:3px double blue;
}
        table
        {
            border-collapse: collapse;
            margin: 0 auto;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
